.history
# General
*.log
*.pyc
*.sqlite3
__pycache__/
venv/
env/
.DS_Store
Thumbs.db

# Backend (Python + Flask)
token.json
credentials.json
*.pem
*.key
*.env

# Frontend (React + TypeScript + Vite)
frontend/node_modules/
frontend/dist/
frontend/.npm/
frontend/.nuxt/
frontend/.next/
frontend/build/
frontend/*.lock

# Docker
.dockerignore
docker-compose.override.yml

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
/ehthumbs.db
/Thumbs.db
/Desktop.ini

# Render-specific files
render.yaml

# Logs and temporary files
logs/
tmp/
